body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}
.nav-item {
  margin: 0px 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
